<div class="split-button">
	<h1>HCT demo</h1>
</div>

<div class="box-split">
	<div *ngFor="let c of box" (click)="select = c" style="background-color: rgb({{ c.rgb[0] }}, {{ c.rgb[1] }}, {{ c.rgb[2] }})"><p>{{ c.rgb[0] }}<br>{{ c.rgb[1] }}<br>{{ c.rgb[2] }}</p></div>
</div>

<div class="split-button">
	<p>&#160;<span *ngIf="select">{{ select | json }}</span></p>
	<p>Split: {{ split }}<br>
		<mat-slider min="3" max="30" [value]="split" (input)="changeSplit($event.value || 0)"></mat-slider>
	</p>
	<p>Offset: {{ offset }}<br>
		<mat-slider min="0" max="100" step="0.1" value="0" (input)="changeOffset($event.value || 0)"></mat-slider>
	</p>
	<p>Chroma: {{ chroma }}<br>
		<mat-slider min="0" max="100" step="0.1" [value]="chroma" (input)="changeChroma($event.value || 0)"></mat-slider>
	</p>
	<p>Tone: {{ tone }}<br>
		<mat-slider min="0" max="100" step="0.1" [value]="tone" (input)="changeTone($event.value || 0)"></mat-slider>
	</p>
</div>

<div class="split-reference">
	<h2>Reference:</h2>
	<ul>
		<li><a href="https://material.io/blog/science-of-color-design">https://material.io/blog/science-of-color-design</a></li>
		<li><a href="https://www.npmjs.com/package/@material/material-color-utilities">https://www.npmjs.com/package/@material/material-color-utilities</a></li>
	</ul>
</div>
